h1{
	text-align: center;
	color:rgba(14, 114, 97, 0.815);

}
*{  margin: 0;
	padding: 0;
}
body{
    padding:0;
    margin:0;

}
.container{
	padding: 10px 114px;
	margin-left: 10px;

} 
.row{
    display: flex;
    flex-direction: row;
    align-content: space-between;
    width: 100%;
}
.col{
    width: 33.3%;
    position: relative;
    padding:20px 30px;
    margin: 10px 20px;
	background-color: gray;
	border: 2px solid black;
}
.x{
	width: 100%;
	display: flex;
	flex-direction: row; 
	align-content: space-between;

}
.cbs{
        position: absolute;
		top:0px;
		right: 0px;
		border-bottom: 2px solid black;
		border-left: 2px solid black;
	    margin-bottom: 10px;
		width:60px;
		height: 20px;
		background-color: rgba(229, 255, 0, 0.459);
		text-align: center;
		
}

@media(max-width:991px){
	.col{
		width: 100%;
	}
	.row{
		flex-direction: column;
	}
	.x{
        width: 100%;
        display: flex;
		flex-direction: row; 
		align-content: space-between;

	}
	.col-3{
		height: 50px;
		width: 85%;
	}
	
}
	
@media(max-width:768px){
	.row{
		flex-direction: column;
	}
	.col-1, .col-2, .col-3{
		width: 100%;
	}
	.x{
       
		flex-direction: column; 

	}
	
	}
